<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg fixed-top opacity-75">
        <div class="container">
            <a class="navbar-brand ml-5" href="#">logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/api/v1/admin/">home</a>
                    <a class=" nav-link" href="">work</a>
                    <a class="nav-link" href="#">contact</a>
                    <a class="nav-link about-me" href="">about me</a>
                    <a class="nav-link" href="/api/v1/admin/signup">sign up</a>
                    <a class="nav-link" href="/api/v1/admin/login">login</a>

                </div>
            </div>
        </div>
    </nav>
</body>