.navbar-brand {
    font-family: "Open Sans";
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 200px !important;
    color: #fff !important;
    font-weight: bold;
}

.nav-link {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 30px;
    color: #fff !important;
    font-weight: bold;
    font-family: "Open Sans";
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.about-me {
    margin-right: 250px !important;
}

.layout {
    height: 100vh;
    align-items: center;
    background-color: #e9a334;
}


.layoutsu {
    height: 100vh;
    align-items: center;
    background-color: #e9a334;


}

.form_bg {
    width: 25rem;
    height: fit-content;
    border-radius: 10px;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_bgsu {
    width: 25rem;
    height: fit-content;
    border-radius: 10px;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button,
a {
    width: fit-content;
    margin: 0 auto;
}